In [30]:
tuple_one = ('a', 25, (6, 2004), 'vinay', 'gmail', 28)
print(tuple_one)

('a', 25, (6, 2004), 'vinay', 'gmail', 28)

In [31]:
print(tuple_one[2])
print(tuple_one[1:4]) #first is inclusive second is not

(6, 2004)
(25, (6, 2004), 'vinay')

In [32]:
# tuple basic Operations
# list_one.index()
# list_one.insert(index, element)
# list_one.pop() accepts index or pops last element by default
# list_one.remove()

list_one = [1,2,3,4,5,'vinay','pursnani']
print(list_one)
list_one.append('male')
print(list_one)
get_value = list_one.pop()
print(list_one)
print('pop value: ', get_value)
list_one.remove('vinay')
print(list_one)
get_index = list_one.index('pursnani')
print(get_index)
list_one.insert(2, 'new element')
print(list_one)
list_one.remove('new element')
list_one

[1, 2, 3, 4, 5, 'vinay', 'pursnani']
[1, 2, 3, 4, 5, 'vinay', 'pursnani', 'male']
[1, 2, 3, 4, 5, 'vinay', 'pursnani']
pop value:  male
[1, 2, 3, 4, 5, 'pursnani']
5
[1, 2, 'new element', 3, 4, 5, 'pursnani']

[1, 2, 3, 4, 5, 'pursnani']

In [23]:
# Dictionaries store a mapping between keys;any  immutable type and values; any data type
# define, modify, view, lookup, delete 
# lookup lets you access a particular element within the object
dict_one = {'Email': 'email@icloud.com', 'Password': 1235678}
print(dict_one.keys())
print(dict_one.values())

dict_keys(['Email', 'Password'])
dict_values(['email@icloud.com', 1235678])

In [24]:
dict_one.update({'Email': 'hello@yahoo.com'})
print(dict_one)

{'Email': 'hello@yahoo.com', 'Password': 1235678}

In [26]:
del dict_one
print(dict_one)

NameError: name 'dict_one' is not defined

In [33]:
# Set is a collection of, unordered, unique element
set_one = set(['Vinay', 'Vinay', 'Kapoor', 'Gmail'])
print(set_one)

{'Gmail', 'Vinay', 'Kapoor'}

In [38]:
set_two = set([1,2,3])
set_one & set_two

set()

In [39]:
set_one | set_two

{1, 2, 3, 'Gmail', 'Kapoor', 'Vinay'}