In [13]:
# in operator
my_list = ['pizza', 'subway', 'chinese', 'thai']
print('Thai' in my_list)
print('pizza' in my_list)
for word in my_list:
    print(word)
dish = 'chicken tikka'
print('i' in dish)

False
True
pizza
subway
chinese
thai
True

In [14]:
# + operator
score = (299,281,299)
new_score = (315,307,318)
total_score = score + new_score
print(total_score)

(299, 281, 299, 315, 307, 318)

In [19]:
# * operaator
year_tuple = (2022, 2021, 2020) * 3
print(year_tuple)
year_list = [2022, 2021, 2020] * 2
print(year_list)
name = 'OoO'*3
print(name)

(2022, 2021, 2020, 2022, 2021, 2020, 2022, 2021, 2020)
[2022, 2021, 2020, 2022, 2021, 2020]
OoOOoOOoO