In [ ]:
# supported file types
# read method indicates abilty to read a file type
# and write method to write a particular file
# 1. read_excel_to_excel
# 2. read_hdf_to_hdf
# 3. read_clipboard_to_clipboard
# 4. read_html_to_html
# 5. read_pickle_to_pickle
# 6. read_stata_stata
# 7. read_sas_to_sas
# 8. read_sql_to_sql
# 9. read_json_to_json
# 10. read_csv_to_csv
# 11. read_excel_to_excel

In [1]:
import pandas as pd
import sqlite3

In [2]:
create_table = """CREATE TABLE student_score(
Id INTEGER,
Name VARCHAR(20),
Math REAL,
Science REAL);"""

In [4]:
executeSQL = sqlite3.connect(':memory:') # used to connect with sqlite3 memory database
executeSQL.execute(create_table)
executeSQL.commit() # commit method commits the transaction and creates a table

In [5]:
# prepare sql query
SQL_query = executeSQL.execute('select * from student_score')

In [6]:
# fetch result from sqlite database
resultset = SQL_query.fetchall()

In [7]:
# view result
resultset # empty set

[]

In [9]:
# inserting values in above sqlite created table
insertSQL = [(10,'Vinay',85,92),(29,'Varun',73,89),(65,'Ram',65.5,77),(5, 'Justin',55,91)]
insert_statement = "Insert into student_score values (?,?,?,?)"
executeSQL.executemany(insert_statement, insertSQL)
executeSQL.commit()

In [10]:
# prepare SQL query
SQL_query = executeSQL.execute("select * from student_score")

In [11]:
# fetch the resultset for the query
resultset = SQL_query.fetchall()

In [12]:
resultset

[(10, 'Vinay', 85.0, 92.0),
 (29, 'Varun', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Justin', 55.0, 91.0)]

In [14]:
df_students = pd.DataFrame(resultset, columns=zip(*SQL_query.description)[0])
df_students

TypeError: 'zip' object is not subscriptable