In [ ]:
# Pandas Features
# different data structures of Pandas
# panda series and DataFrame with data inputs
# Viewing, selecting, accessing elements in a data structure
# vectorized operation handling
# handle missing values
# analyze data

In [ ]:
# data munging, data wrangling, Pandas Features (built on top of numpy)
# 1. Intrinsic data alignment
# 2. Data Operation functions - groupby, join, merge, efficient for data wrangling and manipulation
# 3. Functions for handling missing data
# 4. Data standardisation
# 5. data structure - Series, one dimensional DataFrame, two dimensional
# 6. Easy data transformation and aggregation 
# 7. Tools for reading and writing data
# 8. Intelligent and automated data alignment
# 9. High performance merging and joining of data sets

In [ ]:
# Four main Pandas DATA STRUCTURE
# 1. Series, one dimensional array like structure used to represent a dataset, supports multiple datatype

# Data alignment is intrinsic in Pandas data structure and happens automatically.
# One can also assign index to data elements.
# data and labels(or index)
# data alignment, intrinsic, does not changed until forced by external program or re-indexing
# Data  4, 11, 21, 36
# Label 0,  1,  2,  3

# Series Data Types   Data Inputs can be
# Integer             ndarray
# String              dict
# Python Object       scalar
# Floating Point      list

# Pandas Series can be created using
# ndarray, when data set is number centric and requires complex numerical computing
# dict, very efficient when it comes to indexing or reindexing a data set for wrangling purposes
# scalar, standalone quantity, can be used both with vector and scalar datasets that can be used accordingly
# list, for dataset with multiple data types

In [29]:
import pandas as pd
import numpy as np

#S = pd.Series(data, index = [index])3
first = pd.Series(list('abcdef'))
print('first\n', first, '\n') #automatic data alignment, list was passed as an object

# series from nd array
show = np.array(['Lux','Lucifer','Chloe','Thor'])
show_series = pd.Series(show)
print('show_series\n', show_series, '\n')

# Series from dict
dict_show = pd.Series([123.5,154,155,156],index = ['Lux','Lucifer','Chloe','Thor'])
print('dict_show\n', dict_show,'\n')

# Series from scalar
scal = pd.Series(5, index=['a','b','c','d','e'])
print('scal\n', scal,'\n')

# Access elements in the series
print('show[0]\n', show[0],'\n') 

print('show[0]\n', show[0:5],'\n')

# Lookup by name or index
print('dict_show.iloc[0]\n', dict_show.iloc[0],'\n')
print('dict_show.loc[lux]\n', dict_show.loc['Lux'],'\n')

# Vectorized operations through index
fir = pd.Series([1,2,3,4], index = ['one', 'two', 'three', 'four'])
second = pd.Series([5,6,7,8], index = ['one', 'two', 'three', 'four'])
sum_vector = fir+second
print('sum_vector\n',sum_vector,'\n')

second_index_shuffle = pd.Series([5,6,7,8], index = ['two','one','four','three'])
print('fir+second_index_shuffle\n',fir+second_index_shuffle,'\n') # output will be different,as the data element bound to index

second_nan = pd.Series([1,2,3,4],index=['one','five', 'six','seven']) # index size should be same 
print('second_nan+fir', second_nan+fir, '\n') # but when values differ NaN is produced for new indices
# he result be in vector addition if label is not found in a series
# The result will be marked as NaN (Not a Number) for missing labels.

first
 0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

show_series
 0        Lux
1    Lucifer
2      Chloe
3       Thor
dtype: object

dict_show
 Lux        123.5
Lucifer    154.0
Chloe      155.0
Thor       156.0
dtype: float64

scal
 a    5
b    5
c    5
d    5
e    5
dtype: int64

show[0]
 Lux

show[0]
 ['Lux' 'Lucifer' 'Chloe' 'Thor']

dict_show.iloc[0]
 123.5

dict_show.loc[lux]
 123.5

sum_vector
 one       6
two       8
three    10
four     12
dtype: int64

fir+second_index_shuffle
 four     11
one       7
three    11
two       7
dtype: int64

second_nan+fir five     NaN
four     NaN
one      2.0
seven    NaN
six      NaN
three    NaN
two      NaN
dtype: float64

In [32]:
# 2. DataFrame, two dimensional labeled array, supports multiple data type
# can be visualised as a typical spreadsheet structure or a SQL database table with rows and col
# DF input can be a Series or another DataFrame
dataset = {'City': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 
          'Year': [2012, 2008,2004,2000,1996],
          'No. of Participating countires': [205,204,201,200,197]}
df = pd.DataFrame(dataset)
print(df)

# DF input dict
dataset_dict = {'London':{2012:205}, 'Beijing':{2008:2004}}
df_dataset_dict = pd.DataFrame(dataset_dict)
print(df_dataset_dict)

      City  Year  No. of Participating countires
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197
      London  Beijing
2012   205.0      NaN
2008     NaN   2004.0

In [39]:
print(df.City)
print(df.Year)
print('\n', df.describe)

0     London
1    Beijing
2     Athens
3     Sydney
4    Atlanta
Name: City, dtype: object
0    2012
1    2008
2    2004
3    2000
4    1996
Name: Year, dtype: int64

 <bound method NDFrame.describe of       City  Year  No. of Participating countires
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197>

In [43]:
# DataFrame using Series input
series_num_year = pd.Series([205,204,201,200,197], index = [2012, 2008, 2004, 2000, 1996])
series_name = pd.Series(['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'],
                        index = [2012, 2008, 2004, 2000, 1996])
# passing series as Dicts
df_series = pd.DataFrame({'Host Cities': series_name, 'No of Participating Countries': series_num_year})
print(df_series)

     Host Cities  No of Participating Countries
2012      London                            205
2008     Beijing                            204
2004      Athens                            201
2000      Sydney                            200
1996     Atlanta                            197

In [46]:
# DataFrame using ndarray
import numpy as np
np_array = np.array([2012, 2008,2004,2006])
dict_ndarray = {'year': np_array}

#passing array in data frame as object
df_ndarray = pd.DataFrame(dict_ndarray)
print(df_ndarray)

   year
0  2012
1  2008
2  2004
3  2006

In [50]:
# DataFrame from a DataFrame
df_from_df = pd.DataFrame(df_series)
df_from_df

     Host Cities  No of Participating Countries
2012      London                            205
2008     Beijing                            204
2004      Athens                            201
2000      Sydney                            200
1996     Atlanta                            197

In [ ]:
# 3. Panel, three dimensional labeled array, supports multiple data type
# Items -> axis 0
# Major axis -> rows
# Minor axis -> columns

In [ ]:
# 4. Panel 4D, experimental
# Labels -> axis 0
# Items -> axis 1
# Major axis -> rows
# Minor axis -> columns