In [1]:
import numpy as np
import pandas as pd

In [16]:
from sklearn.datasets import load_boston

In [3]:
boston_dataset = load_boston()

In [4]:
df_boston_dataset = pd.DataFrame(boston_dataset.data)

In [6]:
# print(df_boston_dataset['DESCR']) this doesnt work on dataframes
df_boston_dataset.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [7]:
print(boston_dataset['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [8]:
# transfer feature names from dataset to column names in dataframe
df_boston_dataset.columns = boston_dataset.feature_names

In [9]:
# top 5 observations
df_boston_dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
# append Price, target as new column
boston_dataset['target'] # same as boston_dataset.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [21]:
# assigning features on X axis
X_features = boston_dataset.data

In [22]:
# assigning target on Y axis
Y_target = boston_dataset.target

In [23]:
# import linear model and instantiate estimator object
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression() # model object

In [24]:
# fit the data in the estimator
lineReg.fit(X_features, Y_target)

LinearRegression()

#### Linear regression equation: y = B0 + B1x
#### response = intercept + coefficient of x * input features

In [27]:
# print the intercept B0
print ('the estimated intecept', lineReg.intercept_)

the estimated intecept %.2f  36.459488385089855

In [33]:
# print the coefficient of X B1
print ('the coefficients', lineReg.coef_)
print ('the coefficient of %d', len(lineReg.coef_))

the coefficients [-1.08011358e-01  4.64204584e-02  2.05586264e-02  2.68673382e+00
 -1.77666112e+01  3.80986521e+00  6.92224640e-04 -1.47556685e+00
  3.06049479e-01 -1.23345939e-02 -9.52747232e-01  9.31168327e-03
 -5.24758378e-01]
the coefficient of %d 13

In [35]:
# preparing training testing data split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_features, Y_target)

In [ ]:
# by default split percentage is 25-75%

In [37]:
# print dataset shape
# print dataframe shape
print(boston_dataset.data.shape)
print(df_boston_dataset.shape)

(506, 13)
(506, 13)

In [40]:
# lets check shapes of our split dataset
print('X_train.shape', X_train.shape,'Y_train.shape', Y_train.shape, 'X_test.shape', X_test.shape,'X_test.shape', Y_test.shape)

X_train.shape (379, 13) Y_train.shape (379,) X_test.shape (127, 13) X_test.shape (127,)

In [44]:
# lets check dtypes of our split dataset
print('X_train.dtype', X_train.dtype,'Y_train.dtype', Y_train.dtype, 'X_test.dtype', X_test.dtype,'X_test.dtype', Y_test.dtype)

X_train.dtype float64 Y_train.dtype float64 X_test.dtype float64 X_test.dtype float64

numpy.ndarray

In [46]:
print('type(X_train)', type(X_train),'type(Y_train)', type(Y_train), 'type(X_test)', type(X_test),'type(Y_test)', type(Y_test))
print('type(X_features)',type(X_features),'type(Y_target)', type(Y_target))

type(X_train) <class 'numpy.ndarray'> type(Y_train) <class 'numpy.ndarray'> type(X_test) <class 'numpy.ndarray'> type(Y_test) <class 'numpy.ndarray'>
type(X_features) <class 'numpy.ndarray'> type(Y_target) <class 'numpy.ndarray'>

In [47]:
lineReg.fit(X_train, Y_train)

LinearRegression()

In [50]:
lineReg.predict(X_test)

array([31.9442576 , 25.77860727, 30.16993999,  8.07204641,  6.65046078,
       20.02276709, 18.1990598 , 30.85912024, 23.87974825, 17.512288  ,
       29.5276043 , 13.94321073, 22.59696316, 22.92295406, 22.10958928,
       20.70115161, 17.44267293, 18.6957899 , 19.6253629 , 11.40351301,
       18.31035258, 37.46916317, 24.126952  , 34.67848131,  8.15321162,
       28.31445666, 31.37637929, 23.5384526 , 33.5051876 , 17.93312543,
       21.79266629, 23.30262105, 24.59213194, 21.50431091, 22.61773988,
       21.14127165, 19.32446116, 13.19540006, 28.47839618,  7.83400022,
       26.21347821, 26.11408627, 14.59932571, 21.57687562, 15.24463709,
       15.3888919 , 17.71855051,  6.75629461, 20.82596127, 30.02220804,
        8.69087851, 19.74963924, 35.75115433, 20.60266327, 28.94150503,
       13.30616219, 24.0573156 , 16.57274306, 30.96196389, 37.75152635,
       28.4294961 , 14.21229613, 26.67132245, 27.08391991, 27.80729914,
       38.77137046, 23.99747768,  6.37802075, 28.39487428, 18.66742307,
       29.25408812, 24.40367957, 32.7303188 , 30.98499627, 10.16659215,
       35.86329948, 14.87141146, 23.42788117, 30.7779265 , 39.25278876,
        6.23666831, 30.9329899 , 20.57949119, 27.29130144, 17.46440643,
       30.75970535, 13.31931112, 16.77050818, 23.59671353, 28.57644268,
       27.20773329, 32.54429442, 20.62059899, 20.30669695, 20.05783738,
       25.50433018, 18.32196919, 22.98642299, 35.3711233 , 37.0851826 ,
       14.02258724, 44.30290148, 13.8777389 , 34.15311321, 25.13087399,
       13.87322146, 17.30904367, 35.17325416, 20.90648307, 22.57369307,
       21.98494549, 20.55395919, 17.00629369, 17.76912895, 13.47418396,
       26.93686427, 21.19679252, 10.06682614, 21.93435481, 21.3202617 ,
       33.91115344, 25.66063933, 20.43465713, 30.39521935, 19.16831255,
       24.76149548, 15.99534706])

In [49]:
# Mean Square error(MSE) or residual sum of squares
print('MSE value is', np.mean((lineReg.predict(X_test)-Y_test)**2))

MSE value is 19.391563510385705

In [53]:
# Calculate variance - closer the value is to one, higher the accuracy
print('variance score', lineReg.score(X_test,Y_test))

variance score 0.7764743491952301